{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="/static/css/style.css" />
<link href="netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
        		<li class="active"><a href="/"><i class="fa fa-home"></i> Home</a></li>
          </ul>
        </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  
  <h2>--Anime Recommendation (Similiarity with Ontology)--</h2>
  {{ wtf.quick_form(form, button_map={'submit_button': 'primary'}) }}

  {% if search %}

  <h2>-- Search Result(s) --</h2>
    {% if result|length != 0 %}
     <ul>
     {% for result_entity in result %}
       <li>
       <h3>Anime Title: <a href="{{result_entity.Link}}">{{result_entity.Title}}</a></h3>
       <h4>Anime Score: {{result_entity.Score}}</h4>
       <h4>Anime Genre: 
           {% for genre_entity in result_entity.Genre %}
              {{genre_entity}}; 
           {% endfor %}
       </h4>
       </li>
     {% endfor %}
     <br/><h4>{{result|length}} result(s) found.</h4>
     </ul>
    {% else %}	
    <h3>Empty result!</h3> 
    {% endif %}

  {% endif %}

</div>

<div id="footer" class="bs-docs-footer" role="contentinfo">
	<p> RPP Team © 2014.</p>
</div>
{% endblock %}
